<ng-container *ngFor="let entity of entities">
  <app-template-container #ngContent>
    <ng-container *ngTorDynamicComponent="entity.type;">
      <ng-container
        *ngTorDynamicTemplate="'helloView' | templateResolver: ngContent;"></ng-container>
    </ng-container>
  </app-template-container>
</ng-container>


<!--  <wrapper contentQuery #contentQuery="contentQuery">
    <ng-container *ngTorDynamicComponent="entityB.type;">
      <h2>Hello from CONTENT-TEMPLATE 1</h2>
    </ng-container>
  </wrapper>
  <wrapper contentQuery #contentQuery="contentQuery">
    <h2>Hello from CONTENT-TEMPLATE 2</h2>
  </wrapper>-->


<ng-template #view let-name="name">
  <h2>View {{name}}</h2>
</ng-template>


<ng-template #composed let-user="user" let-view="view">
  <h2>Hi</h2>
  <ng-container *ngTorDynamicTemplate="view; context { name: user}"></ng-container>
</ng-template>

