<!--<dynamic-wrapper componentResolver
                 viewQuery
                 [type]="entityA.type"
                 [input]="{
                  title: 'zxc'
                 }"
                 [output]="{
                  push: pushed | callOutput
                 }"
>
  <dynamic-wrapper componentResolver
                   viewQuery #d
                   [type]="entityB.type">
    <ng-container *ngTorDynamicTemplate="item;context {item: 1}"></ng-container>
  </dynamic-wrapper>
</dynamic-wrapper>-->

<dynamic-wrapper
  dynamicControl
  [control]="control"
  componentResolver
  viewQuery
  [type]="entityB.type"
></dynamic-wrapper>
{{control.valid}}
<pre>
  {{control.value | json}}
</pre>

<ng-template #item let-item="item">
  Item: {{item}}
</ng-template>

<ng-template #view let-name="name">
  <h2>View {{name}}</h2>
</ng-template>


<ng-template #composed let-user="user" let-view="view">
  <h2>Hi</h2>
  <ng-container *ngTorDynamicTemplate="view; context { name: user}"></ng-container>
</ng-template>

